<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="d-flex flex-wrap">
      <div>
        <h2>QMU Repositories</h2>
        <p class="lead">Welcome to Queen Margaret University's repositories which contain a
          growing collection of research publications and outputs by QMU authors. QMU
          researchers can submit items by sending details to the eResearch
          Team at: <a href="mailto:eResearch@qmu.ac.uk">eResearch&amp;qmu.ac.uk</a>
        </p>
      </div>
    </div>

  </div>
</div>
