<footer class="text-lg-start">
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center">
    <div>
      <a href="https://eresearch.qmu.ac.uk/" target="_blank">Queen Margaret University: Research Repositories</a>
    </div>
  </div>
  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center">
    <div class="hidden-print">
      <a routerLink="/info/accessibility">Accessibility Statement</a> | <a href="/info/accessibility">Repository Policies</a> | <a href="/info/accessibility">Contact Us</a> |  | <a href="/htmlmap">HTML Sitemap</a>
    </div>
  </div>
</footer>
