<div class="container" *ngVar="(itemRD$ | async) as itemRD">
  <div class="item-page" *ngIf="itemRD?.hasSucceeded" @fadeInOut>
    <div *ngIf="itemRD?.payload as item">
      <ds-item-alerts [item]="item"></ds-item-alerts>
      <ds-qa-event-notification [item]="item"></ds-qa-event-notification>
      <ds-notify-requests-status [itemUuid]="item.uuid"></ds-notify-requests-status>
      <ds-item-versions-notice [item]="item"></ds-item-versions-notice>
      <ds-view-tracker [object]="item"></ds-view-tracker>
      <ds-listable-object-component-loader *ngIf="!item.isWithdrawn || (isAdmin$|async)" [object]="item" [viewMode]="viewMode"></ds-listable-object-component-loader>
      <ds-item-versions class="mt-2" [item]="item" [displayActions]="false"></ds-item-versions>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <a title="CC BY 4.0 Attribution 4.0 International" alt="CC BY 4.0 Attribution 4.0 International" 
        href="http://creativecommons.org/licenses/by/4.0/" rel="license">
          <img class="" src="/assets/qmu/images/cc-by.png" alt="CC BY 4.0 Attribution 4.0 International">
        </a>
      </div>
      <div class="col-xs-12 col-md-6">
        <p>Except where otherwise noted, this item's license is described as CC BY 4.0
        Attribution 4.0 International</p>
      </div>
  </div>
  <ds-error *ngIf="itemRD?.hasFailed" message="{{'error.item' | translate}}"></ds-error>
  <ds-loading *ngIf="itemRD?.isLoading" message="{{'loading.item' | translate}}"></ds-loading>
</div>
