<div class="container">
    <h1>Accessibility statement for the <a routerLink="/home" title="Link to the Exam Papers home page">University of Edinburgh, Exam Papers online</a></h1>
    <p>Website accessibility statement inline with Public Sector Body (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</p>
    <p>This accessibility statement applies to: <a routerLink="/home" title="Link to the Exam Papers home page">https://exampapers.ed.ac.uk/</a>
    </p>
    <p>This website is run by the Library and University Collections Directorate, Information Services Group at the University of Edinburgh. We want as many people as possible to be able to use this application. For example, that means you should be able to:</p>
    <ul>
        <li>Change most colours and contrast levels</li>
        <li>Navigate most of the site using voice recognition software e.g. Dragon</li>
        <li>Magnify the content to 400% without text spilling of the side of the screen</li>
        <li>Use the site without encountering any scrolling, flashing or moving text </li>
    </ul>
    <p>We’ve also made the website text as simple as possible to understand. However, some of our content is technical, and we use technical terms where there is no easier wording we could use without changing what the text means.</p>

    <h2>Customising the website</h2>
    <p>AbilityNet has advice on making your device easier to use if you have a disability. This is an external site with suggestions to make your computer more accessible:</p>
    <p>
        <a href="https://mcmw.abilitynet.org.uk/" title="Link to the AbilityNet website">AbilityNet - My computer my way</a>
    </p>
    <p>With a few simple steps you can customise the appearance of our website using your browser settings to make it easier to read and navigate:</p>
    <p>
        <a href="https://www.ed.ac.uk/about/website/accessibility/customising-site" title="Link to the University of Edinburgh's accessibility customisation page">Additional information on how to customise our website appearance</a>
    </p>
    <p>If you are a member of University staff or a student, you can use the free SensusAccess accessible document conversion service:</p>
    <p>
        <a href="https://www.ed.ac.uk/student-disability-service/staff/supporting-students/accessible-technology" title="Link to the University of Edinburgh's accessible document service">SenusAccess Information</a>
    </p>

    <h2>How accessible this website is</h2>
    <p>We know some parts of this website are not fully accessible:</p>
    <ul>
        <li>It is not possible to keyboard navigate to all content</li>
        <li>Keyboard navigation is not displayed consistently on all browsers and it can be hard to tell where you have tabbed to</li>
        <li>The skip to main content function is not visible</li>
        <li>The website is not fully compatible with assistive technologies such as screen readers and voice recognition software</li>
        <li>There are pop ups that open without warning </li>
        <li>There are pop-ups that obscure or render other content inaccessible</li>
        <li>There are some instances where colour contrast does not meet the WCAG 2.2 AA standard</li>
        <li>There are some interactions that do not have alternatives to dragging movements</li>
        <li>Text is displayed over an image</li>
        <li>There are time limits that cannot be extended</li>
    </ul>

    <h2>Feedback and contact information</h2>
    <p>If you need information on this website in a different format, including accessible PDF, large print, audio recording or braille:</p>
    <p>Email: <a href="mailto:Information.systems&#64;ed.ac.uk" title="Link to the Exam Papers email">Information.systems&#64;ed.ac.uk</a></p>
    <p>Telephone: +44 (0)131 651 5151</p>
    <p>British Sign Language (BSL) users can contact us via <strong><a href="http://contactscotland-bsl.org/">Contact Scotland BSL</a></strong>, the on-line BSL interpreting service</p>
    <p>We'll consider your request and get back to you in 5 working days.</p>

    <h2>Reporting accessibility problems with this website</h2>
    <p>We are always looking to improve the accessibility of this website. If you find any problems not listed on this page, or think we’re not meeting accessibility requirements, please contact:</p>
    <p>Email: <a href="mailto:Information.systems&#64;ed.ac.uk" title="Link to the Exam Papers email">Information.systems&#64;ed.ac.uk</a></p>
    <p>Telephone: +44 (0)131 651 5151</p>
    <p>British Sign Language (BSL) users can contact us via <strong><a href="http://contactscotland-bsl.org/">Contact Scotland BSL</a></strong>, the on-line BSL interpreting service</p>
    <p>We'll consider your request and get back to you in 5 working days.</p>

    <h2>Enforcement procedure</h2>
    <p>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint please contact the Equality Advisory and Support Service (EASS) directly:</p>
    <p>
        <a href="https://www.equalityadvisoryservice.com/" title="Link to The Equality and Human Rights Commission (EHRC) website">Contact details for the Equality Advisory and Support Service (EASS)</a>
    </p>
    <p>The government has produced information on how to report accessibility issues:</p>
    <p>
        <a href="https://www.gov.uk/reporting-accessibility-problem-public-sector-website" title="Link to the Government guide o report accessibility issues website">Reporting an accessibility problem on a public sector website</a>
    </p>

    <h2>Contacting us by Telephone using British Sign Language</h2>
    <p class="large-text">British Sign Language service</p>
    <p>Contact Scotland BSL runs a service for British Sign Language users and all of Scotland’s public bodies using video relay. This enables sign language users to contact public bodies and vice versa. The service operates from 8.00am to 12.00am, 7 days a week.</p>
    <p>
        <a href="https://contactscotland-bsl.org/" title="Link to Contact Scotland website">Contact Scotland BSL service details</a>.
    </p>

    <h2>Technical information about this website's accessibility</h2>
    <p>The University of Edinburgh is committed to making its websites and applications accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
    
    <h3>Compliance Status</h3>
    <p>This website is partially compliant with the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard, due to the non-compliances listed below.</p>
    <p>The full guidelines are available at:</p>
    <p>
        <a href="https://www.w3.org/TR/WCAG22/" title="Link to the Web Content Accessibility Guidelines (WCAG) website">Web Content Accessibility Guidelines (WCAG) 2.2 AA standard</a>
    </p>

    <h2>Non accessible content</h2>
    <p>The content listed below is non-accessible for the following reasons.</p>
    <p><strong>Noncompliance with the accessibility regulations.</strong></p>
    <p>The following items to not comply with the WCAG 2.1 AA success criteria:</p>
    <ol>
        <li>Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.  e.g. certain ARIA roles are not contained by particular parents and some ARIA roles do not contain specific children.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#info-and-relationships" title="Link to the Web Content Accessibility Guidelines (WCAG) website">1.3.1 Info and Relationships</a></li>
            </ul>
        </li>
        <li>There may not be sufficient colour contrast between font and background colours for data validation.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#contrast-minimum" title="Link to the Web Content Accessibility Guidelines (WCAG) website">1.4.3 Contrast (Minimum)</a></li>
            </ul>
        </li>
        <li >Not all content can be reached and interacted with by keyboard alone.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#keyboard" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.1.1 Keyboard</a></li>
            </ul>
        </li>
        <li>Keyboard focus encounters a keyboard trap on Mozilla Firefox and while using JAWS and Dragon Naturally Speaking on Mozilla Firefox.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#no-keyboard-trap" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.1.2 No Keyboard Trap</a></li>
            </ul>
        </li>
        <li>There are time limits which cannot be extended e.g. there are pop ups where it is not possible to pause, stop, or adjust the time it is presented for.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#timing-adjustable" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.2.1 Timing Adjustable</a></li>
                <li><a href="https://www.w3.org/TR/WCAG22/#pause-stop-hide" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.2.2 Pause, Stop, Hide</a></li>
            </ul>
        </li>
        <li>Although a skip to main content option is present this is only accessible for screen reader users as the visual presentation is blocked by other content on the page.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#bypass-blocks" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.4.1 Bypass Blocks</a></li>
                <li><a href="https://www.w3.org/TR/WCAG22/#focus-not-obscured-minimum" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.4.11 Focus not Obscured Minimum</a></li>
            </ul>
        </li>
        <li>It is not always clear where you have navigated to using the keyboard.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#focus-visible" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.4.7 Focus Visible</a></li>
            </ul>
        </li>
        <li>There is content that requires a dragging movement for which there is no keyboard alternative.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#dragging-movements" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.5.7 Dragging Movements</a></li>
            </ul>
        </li>
        <li>Pop ups open without warning the user this will happen.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#on-input" title="Link to the Web Content Accessibility Guidelines (WCAG) website">3.2.2 On Input</a></li>
            </ul>
        </li>
        <li>Error suggestions or corrections are not always displayed.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#error-suggestion" title="Link to the Web Content Accessibility Guidelines (WCAG) website">3.3.3 Error Suggestion</a></li>
            </ul>
        </li>
        <li>Screen readers are not able to identify some parts of the page e.g. Form elements do not always have labels, buttons do not always have discernible text, some interactive controls are nested, not all ARIA attributes conform to valid values.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG22/#name-role-value" title="Link to the Web Content Accessibility Guidelines (WCAG) website">4.1.2 Name, Role, Value</a></li>
            </ul>
        </li>
    </ol>
    <p>We aim to improve our websites accessibility on a regular and continuous basis. See the section below ('What we're doing to improve accessibility') on how we are improving our site accessibility.</p>
    <p>We are working towards solving these problems and expect significant improvements by July 2025. The site is fully within our control.</p>

    <h2>Disproportionate burden</h2>
    <p>We are not currently claiming that any accessibility problems would be a disproportionate burden to fix.</p>

    <h2>Content that is not within the Scope of the Accessibility Regulations</h2>
    <p>At this time, we do not believe that any content is outside the scope of the accessibility regulations.</p>

    <h2>What we're doing to improve accessibility</h2>
    <p>We will continue to address and make significant improvements to the accessibility issues highlighted. Unless specified otherwise, a complete solution or significant improvement will be in place by July 2026. </p>
    <p>While we are in the process of resolving these accessibility issues we will ensure reasonable adjustments are in place to make sure no user is disadvantaged. As changes are made, we will continue to review accessibility and retest the accessibility of this website.</p>

    <h2>Preparation of this accessibility statement</h2>
    <p><strong>This statement was prepared on September 2021. It was last reviewed on 03rd July 2025.</strong></p>
    <p><strong>The website was last tested on 26th June 2025. The testing was carried out by Library and University Collections, Information Services Group at the University of Edinburgh</strong> using both automated and manual methods. The site was tested on a PC, primarily using Microsoft Edge alongside Mozilla Firefox and Google Chrome.</p>
    <p>Recent world-wide usage levels survey for different screen readers and browsers shows that Chrome, Mozilla Firefox and Microsoft Edge are increasing in popularity and Google Chrome is now the favoured browser for screen readers:</p>
    <p>
        <a href="https://webaim.org/projects/screenreadersurvey9/" title="Link to the WebAIM Screen Reader User Survey">WebAIM: Screen Reader User Survey</a>
    </p>
    <p>The aforementioned three browsers have been used in certain questions for reasons of breadth and variety.</p>
    <p>We ran automated testing using <strong><a href="https://www.deque.com/axe/devtools/chrome-browser-extension/?utm_term=axe%20chrome%20extension&utm_campaign=Search+-+axe+DevTools+Extension+-+Branded+-+UK&utm_source=adwords&utm_medium=ppc&hsa_src=g&hsa_ad=687560695362&hsa_tgt=kwd-1186988429008&hsa_mt=p&hsa_ver=3&hsa_acc=7854167720&hsa_kw=axe%20chrome%20extension&hsa_grp=159335376442&hsa_cam=20944785271&hsa_net=adwords&gad_source=1&gclid=Cj0KCQjw_-GxBhC1ARIsADGgDjtNlxCBsBjEppe0GPiX5e3yqBuEdIf2FujdAUZ5ha1Pf4BGKFuS_dcaAhEWEALw_wcB" title="Link to the WebAIM website">AXE Devtools </a></strong> and then manual testing that included:</p>
    <ul>
        <li>Spell check functionality;</li>
        <li>Scaling using different resolutions and reflow;</li>
        <li>Options to customise the interface (magnification, font, background colour, etc);</li>
        <li>Keyboard navigation and keyboard traps;</li>
        <li>Warning of links opening in new tab or window;</li>
        <li>Information conveyed in the colour or sound only;</li>
        <li>Flashing, moving or scrolling text;</li>
        <li>Use with screen reading software (for example JAWS);</li>
        <li>Assistive software (TextHelp Read and Write, Windows Magnifier, ZoomText, Dragon Naturally Speaking, TalkBack and VoiceOver);</li>
        <li>Tooltips and text alternatives for any non-text content;</li>
        <li>Time limits;</li>
        <li>Compatibility with mobile accessibility functionality (Android and iOS);</li>
        <li>Any drag functionality and alternatives;</li>
        <li>Consistent help function;.</li>
        <li>Submission and re-entry of data;</li>
        <li>Any cognitive tests.</li>
    </ul>

    <h2>Change Log</h2>
    <ol>
        <li>A ‘skip to main content’ option has been added that is audible to users of assistive software but is not visually apparent as it is blocked by other content so this later aspect needs to be resolved to fully meet the criteria.</li>
        <li>All non-text content that is presented to the user has a text alternative that serves the equivalent purpose.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG21/#non-text-content" title="Link to the Web Content Accessibility Guidelines (WCAG) website">1.1.1 - Non-text Content</a></li>
            </ul>
        </li>
        <li>All the content reflows when the page is magnified above 200%.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG21/#reflow" title="Link to the Web Content Accessibility Guidelines (WCAG) website">1.4.10 - Reflow</a></li>
            </ul>
        </li>
        <li>There are no missing heading levels.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG21/#headings-and-labels" title="Link to the Web Content Accessibility Guidelines (WCAG) website">2.4.6. - Headings and Labels</a></li>
            </ul>
        </li>
        <li>There are no missing labels present in the website so fail to describe the purpose of the input form.
            <ul>
                <li><a href="https://www.w3.org/TR/WCAG21/#labels-or-instructions" title="Link to the Web Content Accessibility Guidelines (WCAG) website">3.3.2 - Labels or Instruction</a></li>
            </ul>
        </li>       
    </ol>
</div>